body {
    color: rgb(178, 4, 4);
    background: rgb(78, 231, 27);
}

.heading {
    width: 80%;
    font-size: 22px;
}

#camera {
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}

.name_of_the_objects, #result_object_name, #result_object_accuracy {
 color: rgb(5, 158, 196);
}